body {
	margin: auto;
	padding-left: 1rem;
	padding-right: 1rem;
	width: calc(100% - 2rem);
	max-width: 60rem;
}

.spacing-1, .spacing-2, .spacing-3, .spacing-4, .spacing-5 {
    display: block;
}
.spacing-1 {
    height: 1rem;
}
.spacing-2 {
    height: 2rem;
}
.spacing-3 {
    height: 3rem;
}
.spacing-4 {
    height: 4rem;
}
.spacing-5 {
    height: 5rem;
}

.inline-form {
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    align-items: space-between;
}

.inline-form>input {
    min-width: 0px;
    min-height: 2rem;
    padding: 0.2rem;
    flex: 1 1 0%;
}
.inline-form>input[type="submit"] {
    flex-basis: 100%;
}

#usersTable {
    background-color: lightgray;
    border-spacing: 0px;
}

#usersTable, #usersTable>thead, #usersTable>thead>tr {
    width: 100%;
}

#usersTable>thead>tr>th {
    background-color: lightblue;
    border-bottom: solid 1px black;
}

#usersTableBody>tr:nth-child(odd) {
    background-color: white;
}
.table-element {
    padding: 0.2rem;
    text-align: center;
}

